*   Nama : Alfin Muhammad Ilmi
*   Kelas : M06
*   M299X0762

In [11]:
import pandas as pd

d1 = pd.read_csv('train.csv')
d2 = pd.read_csv('test.csv')
df = pd.concat([d1, d2])

df.head()

,Class Index,Title,Description
0,3,Wall St. Bears Claw Back Into the Black (Reuters),"Reuters - Short-sellers, Wall Street's dwindli..."
1,3,Carlyle Looks Toward Commercial Aerospace (Reu...,Reuters - Private investment firm Carlyle Grou...
2,3,Oil and Economy Cloud Stocks' Outlook (Reuters),Reuters - Soaring crude prices plus worries\ab...
3,3,Iraq Halts Oil Exports from Main Southern Pipe...,Reuters - Authorities have halted oil export\f...
4,3,"Oil prices soar to all-time record, posing new...","AFP - Tearaway world oil prices, toppling reco..."

Keterangan Class :
* 1-World 
* 2-Sports
* 3-Business
* 4-Sci/Tech

In [12]:
df['News'] = df['Title'] + ' ' + df['Description']
df.head()

,Class Index,Title,Description,News
0,3,Wall St. Bears Claw Back Into the Black (Reuters),"Reuters - Short-sellers, Wall Street's dwindli...",Wall St. Bears Claw Back Into the Black (Reute...
1,3,Carlyle Looks Toward Commercial Aerospace (Reu...,Reuters - Private investment firm Carlyle Grou...,Carlyle Looks Toward Commercial Aerospace (Reu...
2,3,Oil and Economy Cloud Stocks' Outlook (Reuters),Reuters - Soaring crude prices plus worries\ab...,Oil and Economy Cloud Stocks' Outlook (Reuters...
3,3,Iraq Halts Oil Exports from Main Southern Pipe...,Reuters - Authorities have halted oil export\f...,Iraq Halts Oil Exports from Main Southern Pipe...
4,3,"Oil prices soar to all-time record, posing new...","AFP - Tearaway world oil prices, toppling reco...","Oil prices soar to all-time record, posing new..."

In [13]:
df = df.drop(columns=['Title','Description'])
df

      Class Index                                               News
0               3  Wall St. Bears Claw Back Into the Black (Reute...
1               3  Carlyle Looks Toward Commercial Aerospace (Reu...
2               3  Oil and Economy Cloud Stocks' Outlook (Reuters...
3               3  Iraq Halts Oil Exports from Main Southern Pipe...
4               3  Oil prices soar to all-time record, posing new...
...           ...                                                ...
7595            1  Around the world Ukrainian presidential candid...
7596            2  Void is filled with Clement With the supply of...
7597            2  Martinez leaves bitter Like Roger Clemens did ...
7598            3  5 of arthritis patients in Singapore take Bext...
7599            3  EBay gets into rentals EBay plans to buy the a...

[127600 rows x 2 columns]

In [14]:
category = pd.get_dummies(df['Class Index'])
df_baru = pd.concat([df, category], axis=1)
df_baru = df_baru.drop(columns='Class Index')
df_baru

                                                   News  1  2  3  4
0     Wall St. Bears Claw Back Into the Black (Reute...  0  0  1  0
1     Carlyle Looks Toward Commercial Aerospace (Reu...  0  0  1  0
2     Oil and Economy Cloud Stocks' Outlook (Reuters...  0  0  1  0
3     Iraq Halts Oil Exports from Main Southern Pipe...  0  0  1  0
4     Oil prices soar to all-time record, posing new...  0  0  1  0
...                                                 ... .. .. .. ..
7595  Around the world Ukrainian presidential candid...  1  0  0  0
7596  Void is filled with Clement With the supply of...  0  1  0  0
7597  Martinez leaves bitter Like Roger Clemens did ...  0  1  0  0
7598  5 of arthritis patients in Singapore take Bext...  0  0  1  0
7599  EBay gets into rentals EBay plans to buy the a...  0  0  1  0

[127600 rows x 5 columns]

In [15]:
news = df_baru['News'].values
label = df_baru[[1, 2, 3, 4]].values

In [16]:
from sklearn.model_selection import train_test_split
news_latih, news_val, label_latih, label_val = train_test_split(news, label, test_size=0.2)

# Data Cleaning

## Membuat lowercase

In [25]:
df['News'] = df['News'].apply(
    lambda data : data.lower()
)
df

      Class Index                                               News
0               3  wall st. bears claw back into the black (reute...
1               3  carlyle looks toward commercial aerospace (reu...
2               3  oil and economy cloud stocks' outlook (reuters...
3               3  iraq halts oil exports from main southern pipe...
4               3  oil prices soar to all-time record, posing new...
...           ...                                                ...
7595            1  around the world ukrainian presidential candid...
7596            2  void is filled with clement with the supply of...
7597            2  martinez leaves bitter like roger clemens did ...
7598            3  5 of arthritis patients in singapore take bext...
7599            3  ebay gets into rentals ebay plans to buy the a...

[127600 rows x 2 columns]

## Menghilangkan tanda baca

In [26]:
import string

def remove_tandabaca(text) : 
  nws = str.maketrans('', '', string.punctuation)
  return text.translate(nws)

In [28]:
df['News'] = df['News'].apply(
    lambda data : remove_tandabaca(data)
)
df

      Class Index                                               News
0               3  wall st bears claw back into the black reuters...
1               3  carlyle looks toward commercial aerospace reut...
2               3  oil and economy cloud stocks outlook reuters r...
3               3  iraq halts oil exports from main southern pipe...
4               3  oil prices soar to alltime record posing new m...
...           ...                                                ...
7595            1  around the world ukrainian presidential candid...
7596            2  void is filled with clement with the supply of...
7597            2  martinez leaves bitter like roger clemens did ...
7598            3  5 of arthritis patients in singapore take bext...
7599            3  ebay gets into rentals ebay plans to buy the a...

[127600 rows x 2 columns]

In [29]:
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
 
tokenizer = Tokenizer(num_words=8000, oov_token='<oov>')
tokenizer.fit_on_texts(news_latih)
 
sekuens_latih = tokenizer.texts_to_sequences(news_latih)
sekuens_val = tokenizer.texts_to_sequences(news_val)
 
padded_latih = pad_sequences(sekuens_latih,
                             padding='post',
                             maxlen=100,
                             truncating='post') 
padded_val = pad_sequences(sekuens_val,
                           padding='post',
                           maxlen=100,
                           truncating='post')

In [30]:
import tensorflow as tf
model = tf.keras.Sequential([
    tf.keras.layers.Embedding(input_dim=8000, output_dim=16),
    tf.keras.layers.LSTM(64),
    tf.keras.layers.Dense(128, activation='relu'),
    tf.keras.layers.Dropout(.2),
    tf.keras.layers.Dense(64, activation='relu'),
    tf.keras.layers.Dropout(.2),
    tf.keras.layers.Dense(4, activation='softmax')
])
model.compile(loss='categorical_crossentropy',optimizer='adam',metrics=['accuracy'])

In [31]:
callback = tf.keras.callbacks.EarlyStopping(monitor='accuracy', restore_best_weights=True, patience=20)

In [32]:
num_epochs = 50
batch_size = 128
history = model.fit(padded_latih, label_latih, epochs=num_epochs, batch_size = batch_size,
                    callbacks = [callback], validation_data=(padded_val, label_val), verbose=1)

Epoch 1/50
798/798 [==============================] - 97s 119ms/step - loss: 1.3855 - accuracy: 0.2488 - val_loss: 1.3839 - val_accuracy: 0.2558
Epoch 2/50
798/798 [==============================] - 93s 117ms/step - loss: 1.3869 - accuracy: 0.2528 - val_loss: 1.3860 - val_accuracy: 0.2530
Epoch 3/50
798/798 [==============================] - 94s 118ms/step - loss: 1.3848 - accuracy: 0.2518 - val_loss: 1.3839 - val_accuracy: 0.2550
Epoch 4/50
798/798 [==============================] - 96s 120ms/step - loss: 1.3025 - accuracy: 0.3229 - val_loss: 1.0891 - val_accuracy: 0.4518
Epoch 5/50
798/798 [==============================] - 94s 118ms/step - loss: 1.1125 - accuracy: 0.4390 - val_loss: 1.1222 - val_accuracy: 0.4374
Epoch 6/50
798/798 [==============================] - 95s 119ms/step - loss: 1.0995 - accuracy: 0.4653 - val_loss: 1.1337 - val_accuracy: 0.4397
Epoch 7/50
798/798 [==============================] - 96s 120ms/step - loss: 1.1446 - accuracy: 0.4346 - val_loss: 1.1676 - val_accuracy: 0.4094
Epoch 8/50
798/798 [==============================] - 95s 118ms/step - loss: 1.0934 - accuracy: 0.4731 - val_loss: 1.1334 - val_accuracy: 0.4371
Epoch 9/50
798/798 [==============================] - 94s 118ms/step - loss: 1.3006 - accuracy: 0.3095 - val_loss: 1.3776 - val_accuracy: 0.2565
Epoch 10/50
798/798 [==============================] - 94s 118ms/step - loss: 1.3706 - accuracy: 0.2608 - val_loss: 1.3540 - val_accuracy: 0.2739
Epoch 11/50
798/798 [==============================] - 95s 119ms/step - loss: 1.3472 - accuracy: 0.2781 - val_loss: 1.3462 - val_accuracy: 0.2821
Epoch 12/50
798/798 [==============================] - 96s 120ms/step - loss: 1.3436 - accuracy: 0.2809 - val_loss: 1.3445 - val_accuracy: 0.2840
Epoch 13/50
798/798 [==============================] - 95s 119ms/step - loss: 1.3390 - accuracy: 0.2844 - val_loss: 1.3402 - val_accuracy: 0.2842
Epoch 14/50
798/798 [==============================] - 95s 119ms/step - loss: 1.3365 - accuracy: 0.2894 - val_loss: 1.3377 - val_accuracy: 0.2887
Epoch 15/50
798/798 [==============================] - 95s 119ms/step - loss: 1.2798 - accuracy: 0.3252 - val_loss: 1.1479 - val_accuracy: 0.4189
Epoch 16/50
798/798 [==============================] - 94s 118ms/step - loss: 1.2601 - accuracy: 0.3416 - val_loss: 1.3507 - val_accuracy: 0.2791
Epoch 17/50
798/798 [==============================] - 95s 119ms/step - loss: 1.3420 - accuracy: 0.2864 - val_loss: 1.3421 - val_accuracy: 0.2860
Epoch 18/50
798/798 [==============================] - 95s 118ms/step - loss: 1.3447 - accuracy: 0.2824 - val_loss: 1.3492 - val_accuracy: 0.2803
Epoch 19/50
798/798 [==============================] - 96s 120ms/step - loss: 1.3283 - accuracy: 0.2959 - val_loss: 1.3219 - val_accuracy: 0.2991
Epoch 20/50
798/798 [==============================] - 95s 119ms/step - loss: 1.3226 - accuracy: 0.2989 - val_loss: 1.3271 - val_accuracy: 0.2943
Epoch 21/50
798/798 [==============================] - 94s 118ms/step - loss: 1.3273 - accuracy: 0.2987 - val_loss: 1.3290 - val_accuracy: 0.2932
Epoch 22/50
798/798 [==============================] - 95s 119ms/step - loss: 1.3077 - accuracy: 0.3181 - val_loss: 1.1345 - val_accuracy: 0.4240
Epoch 23/50
798/798 [==============================] - 95s 119ms/step - loss: 0.7566 - accuracy: 0.6481 - val_loss: 0.5807 - val_accuracy: 0.7534
Epoch 24/50
798/798 [==============================] - 95s 119ms/step - loss: 0.4035 - accuracy: 0.8686 - val_loss: 0.3456 - val_accuracy: 0.8866
Epoch 25/50
798/798 [==============================] - 95s 119ms/step - loss: 0.3087 - accuracy: 0.9060 - val_loss: 0.3342 - val_accuracy: 0.8921
Epoch 26/50
798/798 [==============================] - 94s 117ms/step - loss: 0.2824 - accuracy: 0.9152 - val_loss: 0.3253 - val_accuracy: 0.8985
Epoch 27/50
798/798 [==============================] - 95s 119ms/step - loss: 0.2614 - accuracy: 0.9210 - val_loss: 0.3072 - val_accuracy: 0.9007
Epoch 28/50
798/798 [==============================] - 95s 119ms/step - loss: 0.2435 - accuracy: 0.9274 - val_loss: 0.3006 - val_accuracy: 0.9032
Epoch 29/50
798/798 [==============================] - 96s 120ms/step - loss: 0.2289 - accuracy: 0.9319 - val_loss: 0.3087 - val_accuracy: 0.9023
Epoch 30/50
798/798 [==============================] - 95s 119ms/step - loss: 0.2179 - accuracy: 0.9362 - val_loss: 0.3107 - val_accuracy: 0.9043
Epoch 31/50
798/798 [==============================] - 94s 118ms/step - loss: 0.2039 - accuracy: 0.9405 - val_loss: 0.3063 - val_accuracy: 0.9043
Epoch 32/50
798/798 [==============================] - 94s 118ms/step - loss: 0.1930 - accuracy: 0.9444 - val_loss: 0.3106 - val_accuracy: 0.9065
Epoch 33/50
798/798 [==============================] - 95s 119ms/step - loss: 0.1840 - accuracy: 0.9466 - val_loss: 0.3305 - val_accuracy: 0.9025
Epoch 34/50
798/798 [==============================] - 96s 120ms/step - loss: 0.1730 - accuracy: 0.9507 - val_loss: 0.3450 - val_accuracy: 0.9038
Epoch 35/50
798/798 [==============================] - 95s 119ms/step - loss: 0.1612 - accuracy: 0.9540 - val_loss: 0.3447 - val_accuracy: 0.9021
Epoch 36/50
798/798 [==============================] - 95s 119ms/step - loss: 0.1517 - accuracy: 0.9572 - val_loss: 0.3597 - val_accuracy: 0.9021
Epoch 37/50
798/798 [==============================] - 96s 120ms/step - loss: 0.1422 - accuracy: 0.9598 - val_loss: 0.3595 - val_accuracy: 0.9007
Epoch 38/50
798/798 [==============================] - 94s 118ms/step - loss: 0.1332 - accuracy: 0.9626 - val_loss: 0.3644 - val_accuracy: 0.9009
Epoch 39/50
798/798 [==============================] - 95s 120ms/step - loss: 0.1230 - accuracy: 0.9661 - val_loss: 0.3911 - val_accuracy: 0.8998
Epoch 40/50
798/798 [==============================] - 96s 120ms/step - loss: 0.1165 - accuracy: 0.9678 - val_loss: 0.3909 - val_accuracy: 0.8956
Epoch 41/50
798/798 [==============================] - 97s 121ms/step - loss: 0.1090 - accuracy: 0.9700 - val_loss: 0.4008 - val_accuracy: 0.8958
Epoch 42/50
798/798 [==============================] - 96s 120ms/step - loss: 0.1007 - accuracy: 0.9728 - val_loss: 0.4423 - val_accuracy: 0.8986
Epoch 43/50
798/798 [==============================] - 96s 120ms/step - loss: 0.0945 - accuracy: 0.9745 - val_loss: 0.4244 - val_accuracy: 0.8956
Epoch 44/50
798/798 [==============================] - 96s 120ms/step - loss: 0.0925 - accuracy: 0.9750 - val_loss: 0.4407 - val_accuracy: 0.8942
Epoch 45/50
798/798 [==============================] - 95s 119ms/step - loss: 0.0852 - accuracy: 0.9774 - val_loss: 0.4232 - val_accuracy: 0.8935
Epoch 46/50
798/798 [==============================] - 95s 119ms/step - loss: 0.0810 - accuracy: 0.9783 - val_loss: 0.4921 - val_accuracy: 0.8940
Epoch 47/50
798/798 [==============================] - 95s 120ms/step - loss: 0.0772 - accuracy: 0.9788 - val_loss: 0.4803 - val_accuracy: 0.8945
Epoch 48/50
798/798 [==============================] - 95s 119ms/step - loss: 0.0732 - accuracy: 0.9798 - val_loss: 0.4781 - val_accuracy: 0.8946
Epoch 49/50
798/798 [==============================] - 96s 120ms/step - loss: 0.0684 - accuracy: 0.9819 - val_loss: 0.4962 - val_accuracy: 0.8911
Epoch 50/50
798/798 [==============================] - 95s 119ms/step - loss: 0.0666 - accuracy: 0.9820 - val_loss: 0.4899 - val_accuracy: 0.8913